<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] | Sahtak Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/Admin Dashboard/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Admin Dashboard/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Admin Dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Admin Dashboard/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Admin Dashboard/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">Admin Dashboard</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a href="" class="nav-item nav-link active">Dashboard</a>
                    <br />
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Tables</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-area="AdminDashboard"asp-controller="SahtakUsers"asp-action="Index" class="dropdown-item">Users</a>
                            <a asp-area="AdminDashboard" asp-controller="SahtakSubscriptions" asp-action="Index" class="dropdown-item">Subscriptions</a>
                            <a asp-area="AdminDashboard" asp-controller="SahtakContactUs" asp-action="Index" class="dropdown-item">Contact Us</a>
                            <a asp-area="AdminDashboard" asp-controller="SahtakBeneficiaries" asp-action="Index" class="dropdown-item">Beneficiaries</a>
                            <a asp-area="AdminDashboard" asp-controller="SahtakTestimonials" asp-action="Index" class="dropdown-item">Testimonials</a>
                        </div>
                    </div>
                    <a asp-controller="Home"asp-action="Report" class="nav-item nav-link"><i class="fa fa-pen me-2"></i>Report</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-area="AdminDashboard" asp-controller="HomePages" asp-action="Index" class="dropdown-item">Home</a>
                            <a asp-area="AdminDashboard" asp-controller="AboutUsPages" asp-action="Index" class="dropdown-item">About Us</a>
                            <a asp-area="AdminDashboard" asp-controller="ContactUsPages" asp-action="Index" class="dropdown-item">Conatct Us</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="d-none d-lg-inline-flex">@(ViewData["FirstName"]+" "+ViewData["LastName"])</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a asp-area="AdminDashboard" asp-controller="AdminAccount" asp-action="MyAccount"asp-route-id="@ViewData["UserID"]" class="dropdown-item">My Profile</a>
                            <a asp-area="AdminDashboard" asp-controller="AdminAccount" asp-action="Edit" asp-route-id="@ViewData["UserID"]" class="dropdown-item">Edit My Profile</a>
                            <a asp-area=""asp-controller="Account" asp-action="Logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="">Sahtak Health Insurance</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="">Ahmad Al-Jelani</a>
                            </br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin Dashboard/lib/chart/chart.min.js"></script>
    <script src="~/Admin Dashboard/lib/easing/easing.min.js"></script>
    <script src="~/Admin Dashboard/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Admin Dashboard/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Admin Dashboard/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Admin Dashboard/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Admin Dashboard/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Admin Dashboard/js/main.js"></script>
</body>

</html>