@model Health_Insurance.Models.AboutUsPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AboutUsPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SixPointParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SixPointParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointSix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointSix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOneE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOneE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOneEText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOneEText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointTwoE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointTwoE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointTwoEText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointTwoEText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointThreeE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointThreeE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointThreeEText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointThreeEText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointFourE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFourE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointFiveEText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFiveEText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointSixE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointSixE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointSixEText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointSixEText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointFourEText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFourEText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointFiveE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointFiveE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
